.header_container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding: 4.7% 4.5% 0 4.5%;
}

.header_buttons a,
.header_buttons_hidden a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-light);
  transition: transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.header_buttons a:hover,
.header_buttons_hidden a:hover {
  transform: translateY(-3px);
  color: var(--color-detail);
}

.nav_menu {
  display: none;
}
.nav_menu div {
  width: 40px;
  height: 4px;
  background-color: var(--color-detail);
  border-radius: 2px;
}

.header_buttons,
.header_buttons_hidden {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
  }

  .header_buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    width: 288px;
    row-gap: 24px;
    right: 0;
    padding-top: 24px;
    transition: all 0.2s;
    min-height: calc(100vh - 60px);
    background-color: var(--color-dark);
    z-index: 30;
    align-items: center;
  }

  .header_buttons_hidden {
    display: none;
    transition: all 0.2s;
  }
}
