.header_container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding: 4.5% 4.5% 1.2% 4.5%;
}

.header_buttons {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.header_buttons p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-light);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.header_buttons p:hover {
  transform: translateY(-3px);
  color: var(--color-detail);
}
