.section_container {
  padding-top: 10vh;
  width: fit-content;
  background-color: var(--color-detail);
}

.post_header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 4vh;
  padding-left: 16vw;
  padding-right: 16vw;
  color: var(--color-dark);
}

.post_header h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 43px;
}

.post_header p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.post_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post_text h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;
}

.post_text p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.post_container,
.post_container_left_text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 16vw;
  padding-right: 16vw;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 20px solid #f1f1f1;
  float: left;
  background-color: var(--color-light);
}

.circle img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  opacity: 0.94;
}
.circle:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 2px 2px 2px #f1f1f1;
  opacity: 1;
}

.post_container_left_text {
  flex-direction: row-reverse;
  background: var(--color-dark);
  padding: 4vh 16% 4vh 16%;
  color: var(--color-light);
}

.post_container_left_text h1 {
  color: var(--color-detail);
}

.skew_cc {
  width: 100%;
  height: 100px;
  left: 0px;
  background: linear-gradient(
      to right bottom,
      var(--color-detail) 49%,
      var(--color-dark) 50%
    ),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew_c {
  width: 100%;
  height: 100px;
  left: 0px;
  background: linear-gradient(
      to right bottom,
      var(--color-dark) 49%,
      var(--color-detail) 50%
    ),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

@media screen and (max-width: 1100px) {
  .post_container {
    flex-direction: column;
    gap: 30px;
  }
  .post_container_left_text {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .section_container {
    width: 100%;
  }
}
