.carousel_container {
  display: block;
  width: 800px;
  height: 400px;
}

.carousel_container img {
  display: block;
  width: 100%;
}

.slider_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 24vw;
}

.slider_text h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
}

.slider_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.skew_c {
  width: 100%;
  height: 100px;
  background: linear-gradient(
      to right bottom,
      var(--color-light) 49%,
      var(--color-dark) 50%
    ),
    linear-gradient(-50deg, #ffffff 16px, #1b1b1b 0);
}

.skew_cc {
  width: 100%;
  height: 100px;
  background: linear-gradient(
      to right bottom,
      var(--color-dark) 49%,
      var(--color-light) 50%
    ),
    linear-gradient(-50deg, #ffffff 16px, #1b1b1b 0);
}

.text_and_image,
.text_and_image_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10%;
  padding-top: 4vh;
  padding-bottom: 5vh;
  padding-left: 14vw;
  padding-right: 14vw;
  background-color: var(--color-light);
}

.text_and_image_dark {
  background-color: var(--color-dark);
}

.text_and_image_dark h1 {
  color: var(--color-detail);
}

.text_and_image_dark p {
  color: var(--color-light);
}
