.carousel_container {
  display: block;
  width: 100%;
}

.carousel_container img {
  display: block;
  width: 100%;
}

/* @media screen and (max-width: 1100px) {
  .carousel_container img {
    padding: 10%;
  }
} */
