.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark);
  padding: 3.5% 4.5% 2% 4.5%;
  gap: 50px;
}

.footer_info p {
  color: var(--color-light);
  font-weight: 300;
}

.footer_icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer_icons svg {
  color: var(--color-detail);
  cursor: pointer;
}
