@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("./reset.css");

html {
  scroll-behavior: smooth;
}

:root {
  --color-dark: #1b1b1b;
  --color-light: #ffffff;
  --color-detail: #d3fa3a;
  --color-gray: #706e64;
  --color-border: rgba(0, 0, 0, 0.4);
  --color-button-opacity: #ededed60;
  --color-button-opacity-dark: #101010;
  --color-secondary-hover: #3b3b3b;
  --color-hover: #9fbb2e;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.carousel-control-prev {
  left: -80px !important;
}

.carousel-control-next {
  right: -80px !important;
}

.carousel-indicators {
  transform: translateY(48px);
}

@media screen and (max-width: 1250px) {
  .carousel-control-prev {
    left: 0 !important;
  }

  .carousel-control-next {
    right: 0 !important;
  }

  .carousel-indicators {
    transform: 0;
  }
}
